<% include part_head.ejs %>
	<form class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12 admin"
			action="/login" method="POST">
		<div>
			<label for="password">Login</label>
			<input name="password" id="password" class="col-sm-12 col-xs-12 form-control" type="password" placeholder="Password">
			<input type="submit" class="pull-right btn btn-primary">		
		</div>
	</form>
	<style type="text/css">
		.admin{
			height: 100vh;
			display: table;
		}
		.admin > div{
			display: table-cell;
			vertical-align: middle;
		}
		input{
			margin-bottom: 5px;
		}
	</style>
<% include part_foot.ejs %>