<% include part_head.ejs %>
	<div class="col-xs-12 col-sm-12">
		<div class="section col-xs-12 col-sm-12">
			<a href="/admin/positions">Positions</a>	
			<a href="/admin/reports">Reports</a>	
			<a href="/admin/news">News</a>	
		</div>
	</div>
<% include part_foot.ejs %>