<% include part_admin_head.ejs %>
	<form 	class="entry col-xs-12 col-sm-12 btn-group" action="/news/add" method="POST">
		<div class="input-group">
			<span class="input-group-addon">
				<input type="checkbox" title="Old News?" name="old">
			</span>
			<input class="form-control col-md-5 col-xs-5" type="text" placeholder="Topic"	value="" name="topic">
			<div class="input-group-addon">
				<button type="submit" class="no-btn">
					<i class="glyphicon glyphicon-plus"></i>
				</button>
			</div>
		</div>
	</form>
	<% News.forEach(function(news, index){ %>
		<form 	class="entry col-xs-12 col-sm-12 btn-group" 
				data-id="<%= news.news_id %>">
			<div class="input-group">
				<span class="ctrl-up input-group-addon"><i class="glyphicon glyphicon-arrow-up"></i></span>
				<span class="ctrl-down input-group-addon"><i class="glyphicon glyphicon-arrow-down"></i></span>
				<span class="input-group-addon">
					<input type="checkbox" title="Old News?" name="old"
						<%= news.old == "on" ? 'checked="checked"':'' %>>
				</span>
				<input class="form-control" type="text" placeholder="Topic"
						value="<%=news.topic%>" name="topic">
				<input type="text" style="display:none;" class="form-control order_num_input"
						value="<%=news.order_num%>" name="order_num">
				<span class="ctrl-save input-group-addon"><i class="glyphicon glyphicon-floppy-disk"></i></span>
				<span class="ctrl-delete input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>
			</div>
		</form>
	<% }); %>
	<script type="text/javascript">
		$(document).ready(function(){
			$("form").on("click", ".ctrl-up", function(){
				var form = $(this).closest(".entry");
				var entry_id = form.attr("data-id");
				var prevForm = form.prev();
				var preventry_id = prevForm.attr("data-id");
				

				var html = form.html();
				form.html(prevForm.html());
				form.attr("data-id", preventry_id);
				prevForm.html(html);
				prevForm.attr("data-id", entry_id);


				var order_num = form.find("input[name='order_num']").val();
				var prev_order_num = prevForm.find("input[name='order_num']").val();
				form.find("input[name='order_num']").val(prev_order_num);
				prevForm.find("input[name='order_num']").val(order_num);


				$.ajax({
					url:"/news/update?news_id="+preventry_id,
					type:"POST",
					data:form.serialize()
				});
				$.ajax({
					url:"/news/update?news_id="+entry_id,
					type:"POST",
					data:prevForm.serialize()
				});
			});
			$("form").on("click", ".ctrl-down", function(){
				var form = $(this).closest(".entry");
				var entry_id = form.attr("data-id");
				var nextForm = form.next();
				var nextentry_id = nextForm.attr("data-id");
				

				var html = form.html();
				form.html(nextForm.html());
				form.attr("data-id", nextentry_id);
				nextForm.html(html);
				nextForm.attr("data-id", entry_id);


				var order_num = form.find("input[name='order_num']").val();
				var next_order_num = nextForm.find("input[name='order_num']").val();
				form.find("input[name='order_num']").val(next_order_num);
				nextForm.find("input[name='order_num']").val(order_num);


				$.ajax({
					url:"/news/update?news_id="+nextentry_id,
					type:"POST",
					data:form.serialize()
				});
				$.ajax({
					url:"/news/update?news_id="+entry_id,
					type:"POST",
					data:nextForm.serialize()
				});
			});
			$("form").on("click", ".ctrl-save", function(){
				var form = $(this).closest(".entry");
				var entry_id = form.attr("data-id");
				$.ajax({
					url:"/news/update?news_id="+entry_id,
					type:"POST",
					data:form.serialize()
				});
			});
			$("form").on("click", ".ctrl-delete", function(){
				var form = $(this).closest(".entry");
				var entry_id = form.attr("data-id");
				$.ajax({
					url:"/news/delete?news_id="+entry_id,
					type:"POST"
				});
				form.remove();
			});
		});
	</script>
<% include part_admin_foot.ejs %>