<li> 
	<span><%= key %></span>
	<ul class="leader-list">
		<% Positions[key].leader.forEach(function(person){ %>
			<l1 class="li"><%= person %></l1>
		<% }); %>
	</ul>
	<ul class="assistant-list">
		<% Positions[key].assistant.forEach(function(person){ %>
			<l1 class="li"><%= person %></l1>
		<% }); %>
	</ul>
</li>