<% include report_part_head %>
<style>	
	.snap-drawer-left{
		background-image:url(../static/img/back.gif)!important;
	}
	#positions ul li ul {
		list-style-image: url("../static/img/nested.png")!important;
	}

</style>
<div id="header">
    <div id="open-button">
        <img src="../static/img/crest.png">
    </div>
    <h3><%= date %></h3>
</div>
<div class="snap-drawers">
    <div class="snap-drawer snap-drawer-left">
        <div>
            <h2>Kappa Eta Kappa</h2>
            <h3>Positions</h3>
            <div id="positions">
                <ul class="list-group">
                    <% positions.forEach(function(position){ %>
                    <% include part_position %>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content" class="snap-content">
    <div class=" col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 ">
            <h1>Reports</h1>
            <% topics.Reports.forEach(function(report){ %>
            <% include part_report %>
            <% }) %>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
            <h1>New Business</h1>
                <% topics.New.forEach(function(topic){ %>
                <% include part_topic %>
                <% }) %>
            <div class="col-lg-12 line" ></div>
            <h1>Old Business</h1>
                <% topics.Old.forEach(function(topic){ %>
                <% include part_topic %>
                <% }) %>
        </div>
    </div>
    <div class="footer col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 col-sm-12 col-xs-12">
        <img src="../static/img/footer.png">
    </div>
</div>

<% include part_foot %>
